* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI',Arial, Helvetica, sans-serif,;
    background: #fffaec;
    color: #333;
  }
  
  header {
    background: linear-gradient(to right, #39e664, #a1ff6b);
    color: rgba(230, 155, 17, 0.705);
    text-align: center;
    padding: 2rem 1rem;
  }
  
  header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  
  header .info {
    margin-top: 1rem;
    font-size: 0.95rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  
  .menu-section {
    max-width: 1100px;
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
  }
  
  .menu-section h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .subtitle {
    font-style: italic;
    color: #555;
    margin-bottom: 1.5rem;
  }
  
  .filters {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  
  .filters button {
    background: transparent;
    border: 2px solid #7ee639a9;
    color: #70e639;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
  }
  
  .filters .active,
  .filters button:hover {
    background: #6ffd37;
    color: rgb(42, 207, 10);
  }
  
  .menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    padding: 0 1rem;
  }
  
  .card {
    background: rgb(255, 159, 15);
    min-height: 360px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    transition: transform 0.3s;
    font-style: italic;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card img {
    width: 100%;
    min-height: 68%;
    object-fit: cover;
  }
  
  .card-content {
    padding: 1rem;
    text-align: left;
  }
  
  .card h3 {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .price {
    color: #3fe639;
    font-weight: bold;
    font-size: 1rem;
  }
  
  footer {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #fff;
    font-size: 0.9rem;
    color: #aaa;
    margin-top: 3rem;
  }
/* Botão flutuante */

.botao-flutuante {
  position: fixed;
  bottom: 25px; 
  right: 20px;  
  background-color: #3DED97;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15px 20px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: background-color 0.3s ease;
  font-size: 50px;
}

.botao-flutuante i{
 color: white;
 background-color: #3DED97;
}

.botao-flutuante:hover {
  background-color: #3DED97;
}
img{
  width: 150px;
  height: 150px;
}